head
  <!-- WEBORAMA SCREENAD META DATA (don't edit/remove) -->
  <!-- SCRWIDTH: !{width} -->
  <!-- SCRHEIGHT: !{height} -->

  title= name

  meta(charset="utf-8")

  meta(
    name="viewport"
    content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes"
  )

  script(src=url.screenad)
  script(src=url.vendor)
  script(src=url.app)

  link(rel="stylesheet", href=url.css)
