head
  //
    WEBORAMA SCREENAD META DATA (don't edit/remove)
    SCRFORMAT: !{format}
    SCRWIDTH: !{width}
    SCRHEIGHT: !{height}
    SCRVERSION: screenad_interface_1.0.3

  title= name

  meta(charset="utf-8")

  meta(
    name="viewport"
    content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes"
  )

  each url in libraries
    script(src=url async)

  script(src=screenad async)
  script(src='vendor.min.js')
  script(src='app.min.js')

  link(rel="stylesheet", href='app.min.css')
