head
  title= name

  meta(charset=charset)

  meta(
    name="viewport"
    content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes"
  )

  script(type="text/javascript", src=urls.vendor)
  script(type="text/javascript", src=urls.app)

  link(rel="stylesheet", href=urls.css)
