doctype html

html(lang=lang)
  include ./partials/head

  body
    include assets/foot.svg

    ol
      li Brunch's configuration file is here:
        pre= url.brunch

      li Local variables can modified here:
        pre= url.vars

      li The main view (what you're seeing right now) can be changed by editing:
        pre= url.jade

      li The main stylesheet is located at:
        pre= url.styl

      li The main coffeescript file is located at:
        pre= url.coffee

    script.
      require('scripts/app.coffee')
